.heading {
      margin-top: 70px;
  text-align: center;
  /* border-bottom: 1px solid red; */
}
.heading p {
  color: var(--live-orange-color);
  font-weight: 500;
}
.heading h2 {
  font-size: var(--h2-font);
  margin-top: 0;
  padding: 0 20px;
}
