nav{
   position: fixed;
   top: 0;
}

nav .nav-wrapper {
  background-color: var(--black-color);
  padding: 0px 20px;
/*   border-bottom: solid 4px var(--live-orange-color); */
  height: 60px;
}

nav .nav-wrapper .brand-logo img{
  width:200px;
  height: 40px;
  margin-top: 10px;
}

nav .nav-wrapper ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 100%;
  margin-right: 5vw;
}

nav .nav-wrapper ul li .navlink {
  font-size: 16px;
  margin: 0 1vw;
}

nav .nav-wrapper ul li .navlink:hover {
  color: var(--live-orange-color);
}

nav .nav-wrapper ul li .active {
  color: var(--live-orange-color);
  background-color: rgba(0, 0, 0, 0.097);
}

.sidenav {
  background-color: var(--live-orange-color);
}

.sidenav li .navlink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 15vh;
}

.sidenav li .active {
  background-color: rgba(0, 0, 0, 0.097);
}
.sidenav-trigger i{
  color: var(--live-orange-color);
  font-size: 36px!important;
  margin-left: -14px;
}