.item-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2vw!important;
  height: auto;
  border: 1px solid var(--light-gray-color);
  background-color: var(--light-gray-color);
}
.item-detail .container-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0;
}
.item-detail .container-one .img-counter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  height: 490px;
  background-color: black;
  border: 2px solid black;
}
.item-detail .container-one .img-counter-container .small-images-big-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.item-detail .container-one .img-counter-container .small-images-big-image-container .small-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  cursor: pointer;
  height: 340px;
}
.item-detail .container-one .img-counter-container .small-images-big-image-container .small-images .sm-img {
  height: 25%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.item-detail .container-one .img-counter-container .small-images-big-image-container .small-images .sm-img:hover {
  box-shadow: 0px 0px 4px 3px var(--live-orange-color);
}
.item-detail .container-one .img-counter-container .small-images-big-image-container .big-image {
  width: 79%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  cursor: pointer;
  height: 340px;
  margin-top: 0%;
  margin: 0 60px;
}
.item-detail .container-one .img-counter-container .small-images-big-image-container .big-image:hover {
  /* transform: scale(2); */
  z-index: 2;
}
.item-detail .container-two {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.item-detail .container-two .title-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
}
.item-detail .container-two .title-price h4 {
  color: #ffffff;
  margin-bottom: 10px;
}
.item-detail .container-two .title-price h4:nth-child(2) {
  background-color: #373f47;
  padding: 4px;
  border-radius: 4px;
}
.item-detail .container-two .title-price p {
  color: #ffffff;
  margin-bottom: 5px;
}
.item-detail .container-two .title-price small {
  background-color: #ffffff;
  padding: 3px;
  border-radius: 3px;
}
.item-detail .container-two .title-price h6 {
  padding: 20px 0px;
  color: #ffffff;
  text-align: start;
}
@media screen and (min-width: 769px) {
  .item-detail {
      display: flex;
      flex-direction: row;
      width: 100%;
 }
  .item-detail .container-one {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: auto;
 }
  .item-detail .container-one .img-counter-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 70%;
      background-color: black;
 }
  .item-detail .container-one .img-counter-container .small-images-big-image-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
 }
  .item-detail .container-one .img-counter-container .small-images-big-image-container .small-images {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 20%;
      cursor: pointer;
 }
  .item-detail .container-one .img-counter-container .small-images-big-image-container .small-images .sm-img {
      height: 25%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
 }
  .item-detail .container-one .img-counter-container .small-images-big-image-container .small-images .sm-img:hover {
      box-shadow: 0px 0px 4px 3px var(--live-orange-color);
 }
  .item-detail .container-one .img-counter-container .small-images-big-image-container .big-image {
      width: 79%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      transition: 0.15s;
      transition-delay: 0.35s;
      cursor: pointer;
 }
  .item-detail .container-one .img-counter-container .small-images-big-image-container .big-image:hover {
      transform: scale(2);
      z-index: 2;
 }
  .item-detail .container-two {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 50%;
      height: auto;
      padding: 2vw;
 }
  .item-detail .container-two .title-price {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 90%;
      padding-top: 10px;
 }
  .item-detail .container-two .title-price .item-name {
      color: #ffffff;
      margin: 0;
 }
  .item-detail .container-two .title-price h4:nth-child(2) {
      background-color: #373f47;
      padding: 4px;
      border-radius: 4px;
 }
  .item-detail .container-two .title-price small {
      background-color: var(--live-orange-color);
      padding: 3px;
      border-radius: 3px;
 }
  .item-detail .container-two .title-price h6 {
      padding: 20px 0px;
      color: #ffffff;
      text-align: start;
 }
}
@media screen and (min-width: 1020px) {
  .item-detail {
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 90vh;
      height: auto;
 }
  .item-detail .container-one {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: auto;
 }
  .item-detail .container-one .img-counter-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 75%;
      background-color: black;
      height: 560px;
 }
  .item-detail .container-one .img-counter-container .small-images-big-image-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
 }
  .item-detail .container-one .img-counter-container .small-images-big-image-container .small-images {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 20%;
      cursor: pointer;
      height: 410px;
 }
  .item-detail .container-one .img-counter-container .small-images-big-image-container .small-images .sm-img {
      height: 25%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
 }
  .item-detail .container-one .img-counter-container .small-images-big-image-container .small-images .sm-img:hover {
      box-shadow: 0px 0px 4px 3px var(--live-orange-color);
 }
  .item-detail .container-one .img-counter-container .small-images-big-image-container .big-image {
      width: 79%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      transition: 0.15s;
      transition-delay: 0.35s;
      cursor: pointer;
      height: 410px;
 }
  .item-detail .container-one .img-counter-container .small-images-big-image-container .big-image:hover {
      transform: scale(2);
      z-index: 2;
 }
  .item-detail .container-two {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      max-height: 90vh;
      padding: 2vh 0px;
 }
  .item-detail .container-two .title-price {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 90%;
      padding-top: 10px;
 }
  .item-detail .container-two .title-price .item-name {
      color: #ffffff;
      margin: 0;
 }
  .item-detail .container-two .title-price h4:nth-child(2) {
      background-color: #373f47;
      padding: 4px;
      border-radius: 4px;
 }
  .item-detail .container-two .title-price small {
      background-color: var(--live-orange-color);
      padding: 3px;
      border-radius: 3px;
 }
  .item-detail .container-two .title-price h6 {
      padding: 20px 0px;
      color: #ffffff;
      text-align: start;
 }
}
